body {
  margin: 0;
  background: #202224;
  width: 100%;
  font-family: "Source Sans Pro","Helvetica neue",helvetica,sans-serif;
}

header {
  background: #010206;
  width: 100%;
  height: 30px;
  margin-top: -15px;
}

header p {
  color: #bcd9e4;
  padding-top: 5px;
  padding-left: 10px;
}

header p span {
  color: #649a43;
}

article {
  width: 100%;
  padding: 0 10px;
}

.menu-list {
  float: left;
  padding-right: 15px;
  padding-top: 15px;
  color: #babcbf;
}

.login {
  float: right;
}

.login ul li {
  list-style-type: none;
  display: inline;
  padding-right: 15px;
  color: #babcbf;
}

section {
  width: 100%;
  margin-top: 100px;
}

.logo {
  height: 86px;
  width: 500px;
  background: url('../img/logo.png')no-repeat;
  background-size: 500px 86px;
  background-position: center;
  margin: auto;
}

.search-form {
  width: 55%;
  margin: 20px auto;
}

form #search {
  width: 80%;
  height: 40px;
}

form #submit {
  width: 15%;
  height: 45px;
  background: #6a9b40;
  margin-left: -3.8px;
  color: #fff;
  font-size: 1.2em;
  border: none;
}

.connect {
  text-align: center;
  color: #fff;
}

.connect p {
  padding-top: 20px;
}

footer {
  background: #fff;
  width: 100%;
}

.nav {
  width: 100%;
  margin: auto;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.nav ul {
  text-align: center;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.nav ul li:hover {
  color: #3aa24d;
  border-bottom: 2px solid #3aa24d;
}

.icon-set-heading {
  width: 75%;
  margin: auto;
}

.icon-set-heading ul li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.icon-set-heading #left {
  float: left;
  padding-left: 30px;
  font-weight: bold;
}

.icon-set-heading #right {
  float: right;
  padding-right: 45px;
  color: #3aa24d;
  font-size: 14px;
}

.icons ul li {
  list-style-type: none;
  display: inline-block;
}

.icons {
  clear: both;
  text-align: center;
}

.icons li {
  display: inline;
  margin-right: 15px;
  margin-top: 10px;
}

.icon-set {
  background-size: contain;
  width: 180px;
  height: 150px;
  background-repeat: no-repeat;
}

.icon-set1 {
  background-image: url("../img/png.png");
}

.icon-set2 {
  background-image: url("../img/png-1.png");
}

.icon-set3 {
  background-image: url("../img/png-2.png");
}

.icon-set4 {
  background-image: url("../img/png-3.png");
}

